.svgContainer {
  position: relative;
}

svg {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.debug {
  fill: yellow;
}

.normal {
  fill: #242323
}

.shaded {

  fill: #141414
}